@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .custom-alert {
    @apply absolute top-0 right-0 m-2 transform transition-all duration-500;
  }

  .custom-history {
    @apply flex flex-col gap-4 w-full p-4 rounded-2xl;
  }

  .custom-history-listitem {
    @apply flex flex-row justify-between p-2 rounded-2xl items-center w-full gap-4;
  }

  .custom-history-description {
    @apply flex flex-col md:flex-row justify-between w-full gap-1 text-xs md:text-base;
  }

  .custom-history-iconbutton {
    @apply flex flex-row justify-end gap-2;
  }

  
